/config
ip2net/ip2net
mdig/mdig
nfq/dvtws
nfq/nfqws
nfq/winws.exe
nfq/WinDivert*
tpws/tpws
binaries/my/
ipset/zapret-ip*.txt
ipset/zapret-ip*.gz
ipset/zapret-hosts*.txt
ipset/zapret-hosts*.gz

bin/nfqws
bin/*.bin
zapret-src/nfq/nfqws
zapret-src/**/*.o

tg-proxy/secret.txt
lists/youtube-winner.txt
**/__pycache__/
diagnose-report.txt
youtube-tune-report.txt

*.log
*.pid

*~
*.swp
.DS_Store
